@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: rgb(205, 231, 255);
    display: flex;
    justify-content: space-evenly;
    z-index: 90;
}

ul {
    list-style: none;
    background-color: rgb(205, 231, 255);
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

ul li a:hover {
    background-color: rgb(212, 229, 238);
}

ul li ul.dropdown_classes li {
    display: block;
}

ul li ul.dropdown_classes{
    width: 100%;
    background: rgb(205, 231, 255);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown_classes {
   display: block;
}

ul li ul.dropdown_groups li {
    display: block;
}

ul li ul.dropdown_groups{
    width: 100%;
    background: rgb(205, 231, 255);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown_groups {
   display: block;
}

ul li ul.dropdown_students li {
    display: block;
}

ul li ul.dropdown_students{
    width: 100%;
    background: rgb(205, 231, 255);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown_students {
   display: block;
}