{% extends 'layout_lect.html' %}

{% block title %}
    Add Group
{% endblock %}

{% block content %}
<div class="add_student">
    <h2>Add Group</h2>
    <form method="POST" action="{{ url_for('add_group') }}">
        <div class="input">
            <label for="class_id">Course Name:
            <select name="class_id" id="class_id">
                {% for class in classes %}
                    <option value="{{ class.class_id }}">{{ class.class_name }}</option>
                {% endfor %}
            </select><br><br>
            <input type="text" name="group_name" id="group_name" required placeholder="Group Name"><br><br>
            <input type="submit" value="Add Group">
        </label>
    </form>
</div>
{% endblock %}