{% extends "layout_lect.html" %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_EditClassesPage.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% block title %}
    Edit Class
{% endblock %}

{% block content %}
    <div class="edit_class">
        <h1>Edit Course</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" class="edit_class_form">
            <label class="class_name" for="class_name">Course Name:</label>
            <div class="input">
                <input class="input_field" type="text" id="class_name" name="class_name" value="{{ class_name }}" required>
            </div>
            <div>
                <button type="submit-edit" class="btn">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}