<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_HomePage.css') }}">
</head>

<body>
    <header class="header">
            <p class="message"><strong>Welcome {{user_name}}!</strong></p>

        <nav class="MMU-logo">
            <a href='#' class="logo"><img src="/static/MMUlogo.png" alt="MMU Logo" style="width:50%;height:auto;"></a>
        </nav>

        <div class="intro-text">
            <h2>Introduction</h2>
            <p class="Welcome">Welcome to Peer Evaluation!</p>
            <p class="Info">For all your group work this trimester, you are required to assess your peers and yourself.</p>
            <p class="Note">Kindly refer to the Evaluation page to start your assessment.</p>
        </div>

        <nav class ="navbar">
            <a href="{{ url_for('home_stu')}}">Home</a>
            <a href="#">Evaluation</a>
            <a href="{{ url_for('login_post')}}">Logout</a>
        </nav>
    </header>
</body>