<!DOCTYPE html>
<html lang="en">
    <header class="header">
        <a href='#' class="logo"><img src="/static/MMUlogo.png" alt="MMU Logo" style="width:50%;height:auto;"></a>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_LecturerHome.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {%block title%}
        {%endblock%}
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>

                <li>
                    <a href="#">Classes <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown_classes">
                      <li><a href="#">Add</a></li>
                      <li><a href="#">List</a></li>
                      <li><a href="#">Import</a></li>
                    </ul>
        
                </li> 

                <li>
                    <a href="#">Groups <i class="fas fa-caret-down"></i></a>

                    <ul class="dropdown_groups">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">Import</a></li>
                    </ul>
        
                </li>  

                <li>
                    <a href="#">Students <i class="fas fa-caret-down"></i></a>

                    <ul class="dropdown_students">
                        <li><a href="#">Add</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">Import</a></li>
                        <li><a href="#">Evaluate</a></li>
                    </ul>
        
                </li>

                <li><a href="{{ url_for('logout')}}">Log out</a></li>

            </ul> 
        </nav>
    </header>
    <body>

        {%block content%}
        {%endblock%}

    </body>
</html>