<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        <link rel="stylesheet" href="../Css/style_SignUpPage.css">

        <div class= "MMU-logo">
            <img src="../Img/MMUlogo.png" alt="MMU Logo" style="width:50%;height:auto;">
        </div>
        
    </head>
    <body>
    <div class="container">
        <div class="form_box">
            <h1>Sign up</h1>
            <form>
                <div class="input-group">
                    <div class="input_field">
                        <input type="text" placeholder="ID" required>
                    </div> 

                    <div class="input_field">
                        <input type="email" placeholder="Email" required>
                    </div>
                
                    <div class="input_field">
                        <input type="Phone number" placeholder="Phone" required>
                    </div>
                    
                    <div class="input_field">
                        <input type="password" placeholder="Create Password" required>
                    </div>

                    <div class="input_field">
                        <input type="password" placeholder="Confirm Password"required>
                    </div>
                    <p>Student Log In <a href="login.html">Click Here</a></p>
                    <div class="btn_field">
                    <button type="submit">Sign up</button>
                    </div>

                </div>
            </form>
        </div>   
    </div>
</html>