<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_SignUpPage.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <div class="form_box">
            <h1>Sign Up</h1>
            <form action="{{ url_for('signup_post') }}" method="post">
                <input type="hidden" name="class_id" value="{{ request.args.get('class_id') }}">
                <input type="hidden" name="group_id" value="{{ request.args.get('group_id') }}">

                <div class="input_field">
                    <input type="text" name="name" placeholder="Name" required>
                </div>
                <div class="input_field">
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class="input_field">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class="input_field" id="app_password_field" style="display: none;">
                    <input type="password" name="app_password" placeholder="App Password">
                </div>
                <div class="input_field">
                    <select name="role" id="role" class="selection_box" onchange="toggleAppPasswordField()">
                        <option value="student">Student</option>
                    </select>
                </div>
                <div class="btn_field">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function toggleAppPasswordField() {
            const roleSelect = document.getElementById('role');
            const appPasswordField = document.getElementById('app_password_field');
            if (roleSelect.value === 'lecturer') {
                appPasswordField.style.display = 'block';
            } else {
                appPasswordField.style.display = 'none';
            }
        }
        window.onload = toggleAppPasswordField;
    </script>
</body>
</html>